<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urls</key>
	<array>
        <!--图片上传-->
		<dict>
			<key>name</key>			                <string>uploadMore</string>
			<key>path</key>     			        <string>open/file/uploadMore</string>
			<key>analysisClassName</key>            <string>BaseJson</string>
		</dict>
        <!--获取验证码，无返回-->
		<dict>
			<key>name</key>     			        <string>getVerifyCode</string>
			<key>path</key>     			        <string>user/getVerifyCode</string>
			<key>analysisClassName</key>            <string>BGEBaseModel</string>
		</dict>
        <!--商品列表（array类型，带分页）-->
		<dict>
            <key>name</key>                         <string>goodsList</string>
			<key>path</key>			                <string>goods/goodsList</string>
            <key>analysisClassName</key>            <string>BGEGoodsList</string>
		</dict>
        <!--商品详情（object类型）-->
        <dict>
            <key>name</key>                         <string>goodsDetail</string>
            <key>path</key>                         <string>goods/goodsDetail</string>
            <key>analysisClassName</key>            <string>BGEGoodsDetail</string>
        </dict>
	</array>
	<key>errors</key>
	<array>
		<dict>
			<key>name</key>     			        <string>401</string>
			<key>errorDescription</key>             <string>登录状态失效，请重新登录</string>
		</dict>
		<dict>
			<key>name</key>     			        <string>500</string>
			<key>errorDescription</key>		        <string>服务器错误</string>
		</dict>
	</array>
	<key>configure</key>
	<dict>
		<key>acceptContentType</key>
		<array>
			<string>text/html</string>
			<string>application/json</string>
			<string>text/json</string>
			<string>text/javascript</string>
			<string>text/plain</string>
		</array>
		<key>uploadImageDefaultMimeType</key>		<string>image/jpeg</string>
		<key>timeoutInterval</key>          		<string>10</string>
		<key>analysisBaseClass</key>		        <string>BGEBaseModel</string>
        <key>errorCodeKeyPath</key>                 <string>meta.code</string>
        <key>errorMessageKeyPath</key>              <string>meta.desc</string>
		<key>responseSuccessCode</key> 		        <integer>200</integer>
		<key>loginStatusInvalidErrorCode</key>		<integer>401</integer>
	</dict>
</dict>
</plist>
