<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errors</key>
	<array>
		<dict>
			<key>name</key>     			        <string>401</string>
			<key>errorDescription</key>             <string>登录状态失效，请重新登录</string>
		</dict>
		<dict>
			<key>name</key>     			        <string>500</string>
			<key>errorDescription</key>		        <string>服务器错误</string>
		</dict>
	</array>
	<key>configure</key>
	<dict>
		<key>acceptContentType</key>
		<array>
			<string>text/html</string>
			<string>application/json</string>
			<string>text/json</string>
			<string>text/javascript</string>
			<string>text/plain</string>
		</array>
		<key>uploadImageDefaultMimeType</key>		<string>image/jpeg</string>
        <key>isJSONRequestSerializer</key>          <false/>
		<key>timeoutInterval</key>          		<string>10</string>
		<key>analysisBaseClass</key>		        <string>BGEBaseModel</string>
        <key>errorCodeKeyPath</key>                 <string>meta.code</string>
        <key>errorMessageKeyPath</key>              <string>meta.desc</string>
		<key>responseSuccessCode</key> 		        <integer>200</integer>
		<key>loginStatusInvalidErrorCode</key>		<integer>401</integer>
	</dict>
</dict>
</plist>
